<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Vue Essential 1</title>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container mt-4">
      <div class="container" id="app">
            <nav class="navbar navbar-light bg-light fixed-top" v-if="cart.length>0">
                  <div class="navbar-text ml-auto">
                        <b>chart:</b>
                        <span class="badge badge-pill badge-success">{{ cart.length }}</span>
                  </div>
            </nav>
            <div class="form-inline mr-auto mt-5">
                  <label for="formMax" class="font-weight-bold mr-2">max</label>
                  <input type="text" id="formMax" class="form-control w-25" v-model="maximum">
            </div>
            <input type="range" class="custom-range" min="0" max="200" v-model="maximum">
            <div class="row d-flex mb-3 align-items-center" v-for="(item, index) in products" :key="index"
                  v-if="item.price<=Number(maximum)">
                  <div class="col-1 m-auto">
                        <!-- <button class="btn btn-info" v-on:click="cart.push(item)">+</button> -->
                        <button class="btn btn-info" v-on:click="addItem(item)">+</button>
                  </div>
                  <div class="col-4">
                        <img :src="item.image" :alt="item.title" class="img-fluid d-block">
                  </div>
                  <div class="col">
                        <h3 class="text-info">{{ item.name }}</h3>
                        <p class="mb-0">{{ item.description }}</p>
                        <div class="h5 float-right"> {{ Number(item.price) }} </div>
                  </div>
            </div>
      </div>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
      <script>
            var app = new Vue({
                  el: '#app',
                  data: {
                        maximum: 99,
                        products: null,
                        cart: []
                  },
                  methods: {
                        addItem: function (product) {
                              this.cart.push(product);
                        }
                  },
                  mounted() {
                        fetch('https://hplussport.com/api/products/order/price')
                              .then(response => response.json())
                              .then(data => {
                                    this.products = data;
                              })
                  },
            })
      </script>
</body>

</html>